button.add-button-nav {
  font-size: 34px!important;
  span {
    ion-icon {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
}

.toolbar-absence {
  padding: 0;
}

.rosterSection {
  background-color: rgba(221,221,221,0.48);
  color: #231f20!important;

    div.item-inner {
      padding-left: 30px;
    }

}

