<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" swipeBackEnabled="true" class="main-navbar clearfix">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>
    <ion-buttons right>
      <button ion-button class="add-button-nav" (click)="goToAddAbsence()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="emp-rosterShifts extra-requests-header">
  <ion-toolbar class="clearfix toolbar-absence">
    <ion-list>
      <ion-item (click)="toggleC(toggleCurrent)" class="rosterSection">
        Current Requests
        <i class="fa" [ngClass]="toggleCurrent ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        <div style="position: absolute; right: 20px; top: 12px;">
          <div class="countNum" style="background: rgba(0,128,0,0.75); color: white;">
            {{myAbsenceRequests ? myAbsenceRequests.length : 0}}
          </div>
        </div>
      </ion-item>

        <div>
          <ion-item-sliding *ngFor="let currentAbsenceRequest of myAbsenceRequests" class="absence-list">
            <ion-item *ngIf="toggleCurrent === true && myAbsenceRequests">
              <ion-row>
                <ion-col col-8>
                  <div class="absenceType">
                    {{absenceTypesHash[currentAbsenceRequest.absenceTypeId].description}}
                  </div>
                  <div class="absence-dates">
                    {{convertDateToLocale(currentAbsenceRequest.startDate)}} to
                    {{convertDateToLocale(currentAbsenceRequest.endDate)}}
                    <span class="view-shiftNotes" *ngIf="currentAbsenceRequest.reason || currentAbsenceRequest.approvalMessage" (click)="showNote(currentAbsenceRequest)">view notes</span>
                  </div>
                </ion-col>
                <ion-col col-4>
                <span class="request-approved absence-status"
                      *ngIf="currentAbsenceRequest.status == 'APPROVED'">Approved</span>
                  <span class="drop-pending absence-status" *ngIf="currentAbsenceRequest.status == 'PENDING'">Pending</span>
                  <span class="request-declined absence-status"
                        *ngIf="currentAbsenceRequest.status == 'REJECTED'">Declined</span>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options>
              <button ion-button color="delete" class="delete-button-absence" (click)="dropAbsenceRequestPopup(currentAbsenceRequest, absenceTypesHash[currentAbsenceRequest.absenceTypeId].description)" *ngIf="currentAbsenceRequest.status == 'PENDING'"><ion-icon name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
        </div>


      <ion-item (click)="toggleP(togglePast)" class="rosterSection">
        Past Requests
        <i class="fa" [ngClass]="togglePast ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        <div style="position: absolute; right: 20px; top: 12px;">
          <div class="countNum" style="background: #777; color: white;">
            {{pastAbsenceRequests ? pastAbsenceRequests.length : 0}}
          </div>
        </div>
      </ion-item>
      <div>
        <ion-item-sliding *ngFor="let pastAbsenceRequest of pastAbsenceRequests" class="absence-list">
          <ion-item *ngIf="togglePast === true && pastAbsenceRequests">
            <ion-row>
              <ion-col col-8>
                <div class="absenceType">
                  {{absenceTypesHash[pastAbsenceRequest.absenceTypeId].description}}
                </div>
                <div class="absence-dates">
                  {{convertDateToLocale(pastAbsenceRequest.startDate)}} to
                  {{convertDateToLocale(pastAbsenceRequest.endDate)}}
                  <span class="view-shiftNotes" *ngIf="pastAbsenceRequest.reason || pastAbsenceRequest.approvalMessage" (click)="showNote(pastAbsenceRequest)">view notes</span>
                </div>
              </ion-col>
              <ion-col col-4>
                <span class="request-approved absence-status"
                      *ngIf="pastAbsenceRequest.status == 'APPROVED'">Approved</span>
                <span class="drop-pending absence-status" *ngIf="pastAbsenceRequest.status == 'PENDING'">Pending</span>
                <span class="request-declined absence-status"
                      *ngIf="pastAbsenceRequest.status == 'REJECTED'">Declined</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <button ion-button color="delete" class="delete-button-absence" (click)="dropAbsenceRequestPopup(pastAbsenceRequest, absenceTypesHash[pastAbsenceRequest.absenceTypeId].description)" *ngIf="pastAbsenceRequest.status == 'PENDING'"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>
      </div>


    </ion-list>
  </ion-toolbar>
</ion-content>
