<ion-content class="login-background" no-bounce>
  <div class="logo-header-container">
    <img class= "synergysuitelogo" src="../../../assets/imgs/Cover-logo-blue.png" alt="logo">
    <div class="sub-logo-container">
      <span>Powered By</span>
      <img src="../../../assets/imgs/loginlogo2.png">
    </div>
  </div>

  <div class="login-container">
    <form name="loginform" id="login-form" (ngSubmit)="resetPassword(loginForm.value)" #loginForm="ngForm" role="form" autocomplete="off">
      <div *ngIf="!passwordResetResult">
        <ion-grid>
          <ion-row>
            <div class="reset-passwordInfo text-center" margin-top margin-bottom>
              Please enter your email address. <br>
              We well email you a link to reset your password.
            </div>
          </ion-row>
        </ion-grid>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope fa-lg"></i>
          </span>
          <input type="text" placeholder="Email" [ngModel]="email" name="email" class="form-control" autocomplete="off"/>
        </div>
        <div class="login-button">
          <button ion-button color="secondary" type="submit" block margin-bottom margin-top>Reset Password</button>
        </div>
        <div class="login-button">
          <button ion-button color="no-color" block (click)="gotoLogin()" margin-top class="reset-password-button">
            <i class="fa fa-angle-double-left"></i> Login
          </button>
        </div>
      </div>

      <div *ngIf="passwordResetResult">
        <ion-grid>
          <ion-row>
            <div class="resultStatus">
              <h3 [ngClass]="passwordResetResult.success ? 'resetSuccess' : 'resetFailed'">
                {{passwordResetResult.success ? 'Success' : 'Failed'}}
              </h3>
            </div>
          </ion-row>
          <ion-row *ngIf="passwordResetResult.success" margin-bottom>
            <div class="reset-passwordInfo text-center">
              We have sent you an email with instructions on resetting your password. There should also be a link back to the login screen.
            </div>
          </ion-row>
          <ion-row *ngIf="!passwordResetResult.success" margin-bottom>
            <div class="reset-passwordInfo text-center">
              {{passwordResetResult.message}}
            </div>
          </ion-row>
        </ion-grid>
        <div class="login-button">
          <button *ngIf="!passwordResetResult.success" ion-button color="no-color" block (click)="gotoLogin()" class="reset-password-button">
            <i class="fa fa-angle-double-left"></i> Login
          </button>
          <button *ngIf="passwordResetResult.success" ion-button color="secondary" block (click)="gotoLogin()">
            <i class="fa fa-angle-double-left"></i> Login
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
