<ion-header class="main-header">
  <ion-navbar color="primary" [hideBackButton]="true" class="main-navbar clearfix">
    <button ion-button icon-only  (click)="goToMainProfile()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-list class="profile-item">
    <ion-list-header>Personal</ion-list-header>
    <ion-item class="avatar-item">
      <ion-avatar>
        <img [src]="avatarURL" alt="avatar">
        <div class="avatar-camera-holder">
          <i class="fa fa-camera"></i>
        </div>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="user_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Home Phone</ion-label>
      <ion-input [(ngModel)]="home_phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mobile Phone</ion-label>
      <ion-input [(ngModel)]="mobile_phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address Line 1</ion-label>
      <ion-input [(ngModel)]="address_line_1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address Line 2</ion-label>
      <ion-input [(ngModel)]="address_line_2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State / Country</ion-label>
      <ion-input [(ngModel)]="state_country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="country">
        <ion-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list class="profile-item">
    <ion-list-header>Emergency</ion-list-header>
    <ion-item>
      <ion-label>Contact Name</ion-label>
      <ion-input [(ngModel)]="emergency_contact_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input [(ngModel)]="emergency_phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [(ngModel)]="emergency_address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input [(ngModel)]="emergency_city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="emergency_country">
        <ion-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Medical Conditions</ion-label>
      <ion-textarea rows="4" maxlength="500" [(ngModel)]="emergency_medical_conditions"></ion-textarea>
    </ion-item>
  </ion-list>

    <ion-grid>
      <ion-row>
        <button ion-button color="secondary" (click)="savePerson()" block>Save</button>
      </ion-row>
    </ion-grid>
</ion-content>
