.profile-item {
  margin-top: 20px !important;
  ion-list-header {
    border-bottom: none !important;
    font-size: 1.6em;
    font-weight: 400 !important;
  }

  ion-item {
    div.item-inner {
      div.input-wrapper {
        margin-left: 16px;
      }
    }
    ion-input {
      input {
        text-align: right;
        ::-webkit-input-placeholder {
          text-align: right;
        }
      }
    }
  }

  ion-item.avatar-item {
    div.item-inner {
      div.input-wrapper {
        margin-left: 0;
      }
    }
  }

  ion-avatar {
    display: table;
    position: relative;
    margin: 0 auto;
    img {
      border-radius: 50%;
      overflow: hidden;
      width: 80px;
      height: 80px;
    }
    .avatar-camera-holder{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #444;
      color: #fff;
      padding: 5px 10px;
      border-radius: 50%;

      i{
        font-size: 24px;
      }
    }
  }
}

.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
  overflow: auto!important;
}
