.cancel-eos {
  margin-top: 5px;
  text-align: center;
  color: #58595b;
  font-size: 14px;
  .drop-shift {
    font-size: 16px;
  }
  div.scroll-content {
    overflow: hidden;
  }
}

.cancelation-modal {
  background: rgba(0, 0, 0, 0.5) !important;
  //padding: 40% 10% !important;
  .modal-wrapper {
    width: 250px;
    height: 430px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 150px auto auto;
    border: 0;

    page-modal-eos-cancel ion-content {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.eos-cansel-header {
  .modal-title {
    color: #58595b;
    margin-top: 4px;
    font-size: 20px;
  }
}

.textarea-info {
  color: #abadb0;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 0;
  text-align: left;
}
