<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" class="main-navbar clearfix">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="main-title">
      <img src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="showFilterMenu($event)"><ion-icon name="funnel"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>
  <ion-toolbar padding class="clearfix">
    <ion-item style="background-color: transparent">
      <ion-label>Select outlet</ion-label>
      <ion-select [(ngModel)]="currentCompanyId">
        <ion-option *ngFor="let allowedOutlet of allowedOutlets" [value]="allowedOutlet.id">{{allowedOutlet.companyName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ion-list>
    <ion-item [hidden]="getCompletedTasksCount(item) === item.subtasks.length && showAll === false" *ngFor="let item of tasks | order: 'rank'" (click)="openTasksView(item)">

        <div class="checklist-progress-icon"><round-progress [current]="getCompletedTasksCount(item)" [max]="item.subtasks.length" [radius]="120" [color]="getProgressColor(item)" [stroke]="30" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="true" [duration]="2000"  [animationDelay]="0"></round-progress></div>
        {{item.name}}
    </ion-item>
  </ion-list>
</ion-content>
