<ion-menu [content]="content" id="menu1">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>SynergySuite</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose="menu1" detail-none>
        Close menu
      </button>
      <button ion-item (click)="pageMenu.setPage(1);" menuClose="menu1">Test 1</button>
      <button ion-item (click)="pageMenu.setPage(2)" menuClose="menu1">Test 2</button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-header>


  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      SynergySuite
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content #content padding>
  <test1 *ngIf="pageMenu.getPage() == 1"></test1>
  <test2 *ngIf="pageMenu.getPage() == 2"></test2>
</ion-content>
