.fixed-lock {
  width:100%;
  margin-top: 10%;
  img {
    display: block;
    margin: 0 auto;
  }
}

.fixed-PIN {
  text-align: center;
  bottom: 60%;
  margin-left: 20.5%;
  margin-right: 15%;
  margin-top: 3%;
}

.fixed-PIN input[type=password] {
  font-size: 23px;
  font-weight: 300;
  height: 60px;
  line-height: 88%;
  text-align: center;
}

.fixed-PIN input[type=password]:read-only{
  background-color: #ffffff;
  color: #58595b !important;
}


.no-border-bottom .item-inner{
  border-bottom: none!important;
}

.pin-forward {
  background-color: transparent!important;
  font-weight: 600;
  color: $primaryColor;
  font-size: 30px;
}
