<ion-menu [content]="content" id="menu1" persistent="true">

  <ion-header class="sidemenu-header">
    <ion-toolbar color="primary" class="sidemenu-toolbar">
      <ion-title class="sidemenu-title" style="color: #fff">
        <table>
          <tr>
            <td rowspan="2"><img class="avatar-logo-menu" [src]="avatarURL" alt="avatar"></td>
            <td menuClose (click)="gotoProfile()"><span *ngIf="user">{{user.firstName}} {{user.lastName}} </span><br>
              <span *ngIf="company">{{company.name}}</span></td>
          </tr>
        </table>
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content class="sidemenu-content" no-bounce>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <!--<ion-icon name="p.icon_name" md="p.icon_md"></ion-icon> {{p.title}}-->
        <div *ngIf="p.component === 'NotificationsPage'" class="notifications"><i ngClass="{{p.icon}}"></i><ion-badge class="notificationBadgeSubMenu" color="danger">{{notificationsBadge}}</ion-badge><span class="page-title">{{p.title}}</span></div>
        <div *ngIf="p.component !== 'NotificationsPage'"><i ngClass="{{p.icon}}"></i> <span class="page-title">{{p.title}}</span></div>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="synergy-sidemenu-footer">
    <ion-toolbar>
      <ion-title  align-items-center>
        <span>Powered by</span>
        <img src="./assets/imgs/loginlogo2-black.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
  <div class="main-menu-overlay"></div>
</ion-nav>
