<ion-menu [content]="content" id="menu1" >

  <ion-header class="sidemenu-header">
    <ion-toolbar color="primary" class="sidemenu-toolbar">
      <ion-title class="sidemenu-title" *ngIf="user && company" style="color: #fff">
        <table>
          <tr>
            <td rowspan="2"><i class="sidemenu-title-icon fa fa-user"></i></td>
            <td>{{user.firstName}} {{user.lastName}} <br>
              {{company.name}}</td>
          </tr>
        </table>
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content class="sidemenu-content" no-bounce>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <!--<ion-icon name="p.icon_name" md="p.icon_md"></ion-icon> {{p.title}}-->
        <i ngClass="{{p.icon}}"></i> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="synergy-sidemenu-footer">
    <ion-toolbar>
      <ion-title  align-items-center>
        <span>Powered by</span>
        <img src="./assets/imgs/loginlogo2-black.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
  <div class="main-menu-overlay"></div>
</ion-nav>
