<ion-menu [content]="content" id="menu1">

  <ion-header class="sidemenu-header">
    <ion-toolbar color="primary" class="sidemenu-toolbar">
      <ion-title class="sidemenu-title" *ngIf="user && company">
        <table>
          <tr>
            <td rowspan="2"><ion-icon class="sidemenu-title-icon" name="person"></ion-icon></td>
            <td>{{user.firstName}} {{user.lastName}} <br>
              {{company.name}}</td>
          </tr>
        </table>
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose="menu1" detail-none>
        Close menu
      </button>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <!--<ion-icon name="p.icon_name" md="p.icon_md"></ion-icon> {{p.title}}-->
        <ion-icon name="{{p.icon_name}}" md="{{p.icon_md}}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
