// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primaryColor: #212121;
$secondaryColor: #3fb6df;
$deleteColor: #ef473a;


$black: #000;

.menu-inner {
  width: 260px!important;
}

.toolbar-title {
  overflow: visible;
  //text-align: left;
}

.sidemenu-title {
  padding: 0!important;
}

.sidemenu-title-icon {
  font-size: 60px;
}

.avatar-logo-menu {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidemenu-header, .sidemenu-toolbar, .sidemenu-title {
  height: 80px!important;
}

// clearfix after sidemenu header
.sidemenu-header::after, .main-header::after, .clearfix {
  content: "";
  display: block;
  clear: both;
}

.sidemenu-title {
  div {
    padding-left: 20px;
  }
  tr td:first-child {
    padding: 10px;
    text-align: center;
    color: #fff;
  }

  tr td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #fff;
  }
}

#menu1 > div > ion-content > div.scroll-content > ion-list > button > div.item-inner > div > ion-label {
  color: #000;
}

.scroll-content {
  overflow-y: auto!important;
  padding-bottom: 0!important;
}


.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
  overflow: hidden;
  max-height: 240px;
  border-top: 0.55px solid #dbdbdf;
  -webkit-overflow-scrolling: touch;
}

.select-text {
  overflow: visible;
}

/**
Style for main header
-- Even though header is always defined in single pages, it's style and structure is the same throughout the pages,
so we define it in main stylesheet
 */
.main-header, .main-navbar, .main-title {
  height: 60px;
}

.main-title {
  .toolbar-title {
    height: 60px;
    img {
      height: 70%;
      margin-top: 8px;
      vertical-align: middle;

    }
  }
}

.ion-item-with-border {
  box-shadow:
    1px 0 0 0 #ddd,
    0 1px 0 0 #ddd,
    1px 1px 0 0 #ddd,   /* Just to fix the corner */

    0 1px 0 0 #ddd inset;
}

.item {
  color: #444;
  padding-left: 0;
  .item-inner {
    padding: 8px 49px 8px 16px;
    .input-wrapper {
      .label {
        .task-status-icon {
          line-height: 27px;
          font-size: 1.4em;
        }
      }
    }
  }
}

.custom-popover .popover-content {
  width: 250px;
  float: right;
}

.custom-popover {
  margin-top: 20px;
  .popover-wrapper {
    .popover-arrow {
      display: none;
    }
  }
}

.popover-content {
  border-radius: 0!important;
}

.filter-radio-list {
  button.item {
    height: 40px;
    div.item-inner{
      height: 40px;
    }
    ion-radio {
      margin-right: 0!important;
      button.item-cover {
        height: 40px;
      }
    }
  }
  button.item:first-child {
    border-bottom: 0.55px solid #eaeaea;
  }
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 32px;
    height: 33px;
  }
  &[class*="custom-funnel"] {
    mask-image: url(../assets/icon/funnel.svg);
  }

}

.main-menu-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99!important;
}

ion-menu.show-menu + ion-nav {
  div.nav-decor {
    z-index: 101!important;
    opacity: 0.5;
    display: block!important;
  }
}

.synergy-sidemenu-footer {
  div.toolbar-background {
    background: #fff;
    border-top: none;
  }
  ion-title {
    padding: 0;
  }
  span{
    font-size: 12px;
    vertical-align: bottom;
    line-height: 14px;
    font-weight: 500;
  }

  img{
    height: 22px;
    margin-left: 5px;
    vertical-align: bottom;
  }
}

.popup-content {
  text-align: center;
  color: #58595b;
  padding: 15px 10px;
}

// Validation
.validateFormError {
  color: red;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8%;
}

// Alerts
.alert-button, .picker-button {
  color: $secondaryColor!important;
}



.notificationBadgeMenu, .notificationBadgeSubMenu {
  position: absolute;
  font-size: 10px;
  padding: 3px 6px;
}

.notificationBadgeSubMenu {
  left: 25px;
  top: 20px;
}

.notificationBadgeMenu {
  left: 20px;
  top: 15px;
}

.page-title {
  margin-left: 20px;
}
