// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primaryColor: #212121;
$secondaryColor: #3fb6df;


$black: #000;

.toolbar-title {
  overflow: visible;
  //text-align: left;
}

.sidemenu-title {
  padding: 0!important;
}

.sidemenu-title-icon {
  font-size: 70px;
}

.sidemenu-header, .sidemenu-toolbar, .sidemenu-title {
  height: 80px!important;
}

// clearfix after sidemenu header
.sidemenu-header::after, .main-header::after, .clearfix {
  content: "";
  display: block;
  clear: both;
}

.sidemenu-title {
  tr td:first-child {
    padding: 10px;
    text-align: center;
  }

  tr td {
    padding: 10px;
    text-align: left;
  }
}

.item-ios.item-block .item-inner {
  border-bottom: none;
}

.select-text {
  overflow: visible;
}

/**
Style for main header
-- Even though header is always defined in single pages, it's style and structure is the same throughout the pages,
so we define it in main stylesheet
 */
.main-header, .main-navbar, .main-title {
  height: 60px;
}

.main-title {
  img {
    padding: 10px;
  }
}

.ion-item-with-border {
  box-shadow:
    1px 0 0 0 #ddd,
    0 1px 0 0 #ddd,
    1px 1px 0 0 #ddd,   /* Just to fix the corner */

    0 1px 0 0 #ddd inset;
}
