button.add-button-nav {
  font-size: 34px !important;
  span {
    ion-icon {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
}

.absence-list {
  ion-item {
    div.item-inner {
      padding: 16px 49px 16px 16px;
    }
  }
}

.toolbar-absence {
  padding: 0;
}

.rosterSection {
  background-color: rgba(221, 221, 221, 0.48);
  color: #231f20 !important;

  div.item-inner {
    padding-left: 30px;
  }

}

.countNum {
  height: 24px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 22px;
}

.absenceType {
  font-size: 16px!important;
  color: #58595b!important;
  font-weight: 400!important;
}

.absence-dates {
  margin-top: 5px!important;
  font-size: 13px!important;
  color: #58595b!important;
}

.absence-status {
  font-size: 12px!important;
}

.view-shiftNotes {
  border: 1px solid #b2b2b2!important;
  border-radius: 2px;
  padding: 3px;
  font-size: 10px;
  font-weight: 500;
  color: #b2b2b2!important;
}

.request-approved {
  font-size: 8px;
  color: #fff;
  padding: 3px;
  font-weight: 900;
  background: #5cb85c;
  border-radius: 3px;
}

.drop-pending {
  font-size: 8px;
  color: #fff;
  padding: 3px;
  font-weight: 900;
  background: #fdb913;
  border-radius: 3px;
}

.request-declined {
  font-size: 8px;
  color: #fff;
  padding: 3px;
  font-weight: 900;
  background: #d82a33;
  border-radius: 3px;
}

.delete-button-absence {
  width: 77px;
  ion-icon {
    font-size: 36px;
    padding: 0!important;
  }
}

.drop-modal-absence {
  background: rgba(0, 0, 0, 0.5) !important;
  //padding: 40% 10% !important;
  .modal-wrapper {
    width: 250px;
    height: 320px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px;
    border: 0;
    opacity: 0.9!important;

    page-modal-task-note ion-content {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
