.reset-passwordInfo {
  color: #808285;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.resetSuccess {
  color: green;
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}

.resetFailed {
  color: red;
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}
