.task-title {
  display: inline-block;
  vertical-align: top;
  line-height: 27px;
  font-weight: bold;
}

.task-subtitle {
  font-size: 13px;
  white-space: normal;
  font-weight: 400;
}

.list-ios {
  margin: 0!important;
}

.custom-popover .popover-content {
  width: 80%;
}
