<ion-header class="eos-cansel-header">
  <div class="modal-header">
    <h3>Send Request</h3>
  </div>
</ion-header>
<ion-content class="cancel-eos" *ngIf="data" no-bounce>
  <div>Drop Shift Request</div>
  <div class="drop-shift" >{{data.shiftText.time12Hr}}</div>
  <div class="drop-shift" *ngIf="data.job != null">{{data.job.description}} | {{data.section.description}}</div>
  <div class="drop-shift" *ngIf="data.job == null">{{data.section.description}}</div>

  <br>
  <div>Your request will be cancelled</div><div>and you cannot undo this</div><div>action.</div>
  <br>
  <div class="textarea-wrapper">
    <ion-textarea placeholder="Request message, reason, etc." maxlength="200" rows="5">
    </ion-textarea>
    <p class="textarea-info">Maximum 200 characters</p>
  </div>
</ion-content>
<ion-footer>
  <div class="modal-footer">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button color="light" class="full-width" (click)="dismiss()">Dismiss</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="full-width save-button-eos">Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
