<ion-header class="main-header">
  <ion-navbar color="primary" [hideBackButton]="true" class="main-navbar clearfix">
    <button ion-button icon-only (click)="goToAbsences()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <form [formGroup]="absenceTypeForm" (ngSubmit)="addAbsence()">
    <ion-list>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Absence Type</ion-label>
            <ion-select [(ngModel)]="selected.absence" formControlName="selectedAbsenceField">
              <ion-option *ngFor="let absenceType of absenceTypes" [value]="absenceType.id">{{absenceType.description}}
              </ion-option>
            </ion-select>
          </ion-item>
          <p
            *ngIf="!absenceTypeForm.controls.selectedAbsenceField.valid && absenceTypeForm.controls.selectedAbsenceField.touched"
            class="validateFormError">Absence type is required!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Start Date</ion-label>
            <ion-datetime displayFormat="MMM/DD/YYYY" max="2999" [(ngModel)]="startDate"
                          formControlName="startDateField"></ion-datetime>
          </ion-item>
          <p class="validateFormError"
             *ngIf="!absenceTypeForm.controls.startDateField.valid && absenceTypeForm.controls.startDateField.touched">
            Start Date is required!</p>

        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>End Date</ion-label>
            <ion-datetime displayFormat="MMM/DD/YYYY" max="2999" [(ngModel)]="endDate"
                          formControlName="endDateField"></ion-datetime>
          </ion-item>
          <p class="validateFormError"
             *ngIf="!absenceTypeForm.controls.endDateField.valid && absenceTypeForm.controls.endDateField.touched">End
            Date is required!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <label style="font-size: 0.8em">Message</label> <br>
            <textarea [(ngModel)]="absenceReason.text" formControlName="absenceReasonText"
              style="height:100px; border: solid 1px #ccc; padding-top: 8px;width: 100%;border-radius: 5px; text-align: left;"
              maxlength=250></textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button color="light" (click)="goToAbsences()" block>Cancel</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button color="secondary" type="submit" [disabled]="!absenceTypeForm.valid" block>Create
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
