
<ion-content class="cancel-eos" *ngIf="shift" no-bounce>
  <div style="text-align: center; margin-top: 10px;">
    <div style="font-weight: bold;">
      {{persistLongWeekDay(shift.shiftDate)}}, {{persistLongMonth(shift.shiftDate)}} {{shift.dayNumber}} - {{shift.shiftText.time12Hr}}
    </div>
    <div *ngIf="shift.section.name" class="roster-info">
      <span>{{shift.section.name}}</span> | <span>{{shift.job.name}}</span>
    </div>
    <div class="col badge-column popup-badge">
      <div class="badge badge-red" *ngIf="shift.cancelable">Cancelable</div>
      <div class="badge badge-blue" *ngIf="shift.offsite">Off Site</div>
      <div class="badge badge-orange" *ngIf="shift.drop">Drop Pending</div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="modal-footer">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button ion-button class="full-width save-button-eos" (click)="clickRequest(shift)">{{title}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button color="light" class="full-width" (click)="dismiss()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
