.employee-shift-item {
  padding: 15px;

  &.no-padding {
    padding: 0;
  }

  .date-column {
    .dates {
      font-size: 12px;
      border: 1px solid #58595b;
      max-width: 80px;
      min-width: 62px;
      margin: 0 auto;
      text-align: center;

      .month {
        padding: 3px;
        background-color: $secondaryColor;
        border-bottom: 1px solid #58595b;
        color: #f8f8f8;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
      }

      .dayDate {
        padding-top: 5px;
        background-color: #fafafa;
        margin-top: 0;

        .date {
          font-size: 18px;
          padding: 0;
          background-color: #fafafa;
        }

        .day {
          background-color: #fafafa;
          margin-top: 1px;
          padding: 3px 0 0;
        }
      }
    }
  }

  .description-column {
    //margin-left: 10px;
    padding: 2px 2px 2px 15px;
    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .roster-info {
      color: #58595b;
      height:20px;
      line-height: 20px;
      font-size: 12px;
      span {
        margin: 0 3px;
      }
    }

    .time {
      padding-top: 5px;
    }
  }
}

.badge-column {
  margin-top: auto;
  text-align: right;

  &.popup-badge {
    text-align: center;
    margin-top: 5px;
  }

  .badge-handler {
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .badge {
    position: static;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    z-index: 1;
    padding: 3px 8px;
    min-width: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    line-height: 16px;

    &.badge-blue {
      background-color: $secondaryColor;
    }

    &.badge-green {
      background-color: #8ac349;
    }

    &.badge-orange {
      background-color: #f7c427;
    }

    &.badge-red {
      background-color: #f44335;
    }
  }
  .right-badge {
    float: right;
  }
}

.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  overflow: hidden;
  //margin: 20px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #fff;
}
