<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" class="main-navbar">
    <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <tabs>
    <tab [tabTitle]="'Pickup Request'">
      <div class="card" *ngFor="let shift of availableShifts">
        <div class="item row employee-shift-item" *ngIf="shift.tab === 1">
          <div class="date-column col-3">
            <div class="dates">
              <div class="month">{{shift.monthText}}</div>
              <div class="dayDate">
                <div class="date">{{shift.dayNumber}}</div>
                <div class="day">{{shift.dayText}}</div>
              </div>
            </div>
          </div>
          <div class="col description-column">
            <div class="title">
              {{shift.outlet.name}}
            </div>
            <div class="roster-info">
              <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
              <span *ngIf="shift.job">|</span>
              <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
            </div>
            <div class="time">{{shift.shiftText.time12Hr}}</div>
          </div>
          <div *ngIf="shift.badgeClass !=''" class="col-3 badge-column">
            <div class="badge" ngClass="shift.badgeClass">{{shift.badgeText}}</div>
          </div>
        </div>
      </div>
    </tab>
    <tab [tabTitle]="'Drop Request'">
      <div class="card" *ngFor="let shift of availableShifts">
        <div class="item row employee-shift-item" *ngIf="shift.tab === 2">
          <div class="date-column col-3">
            <div class="dates">
              <div class="month">{{shift.monthText}}</div>
              <div class="dayDate">
                <div class="date">{{shift.dayNumber}}</div>
                <div class="day">{{shift.dayText}}</div>
              </div>
            </div>
          </div>
          <div class="col description-column">
            <div class="title">
              {{shift.outlet.name}}
            </div>
            <div class="roster-info">
              <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
              <span *ngIf="shift.job">|</span>
              <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
            </div>
          </div>
          <div *ngIf="shift.badgeClass !=''" class="col-3 badge-column">
            <div class="badge" ngClass="shift.badgeClass">{{shift.badgeText}}</div>
          </div>
        </div>
      </div>
    </tab>
  </tabs>
</ion-content>
