<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" swipeBackEnabled="true" class="main-navbar">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-badge *ngIf="notificationsBadge" color="danger" class="notificationBadgeMenu">{{notificationsBadge}}</ion-badge>
    </button>
    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <tabs>
    <tab [tabTitle]="'Pickup Request'">
      <div *ngFor="let shift of availableShifts">
        <ion-grid (click)="onShiftClick(shift)" *ngIf="shift.tab === 1">
          <div class="card">
            <ion-row class="item row employee-shift-item">
              <ion-col col-2 class="date-column col col-2">
                <div class="dates">
                  <div class="month" *ngIf="screenWidth > 460">{{shift.monthText}}</div>
                  <div class="month" *ngIf="screenWidth <= 460">{{shift.monthText | slice: 0:3}}</div>
                  <div class="dayDate">
                    <div class="date" *ngIf="shift.dayNumber">{{shift.dayNumber}}</div>
                    <div class="day" *ngIf="screenWidth > 460">{{shift.dayText}}</div>
                    <div class="day" *ngIf="screenWidth <= 460">{{shift.dayText | slice: 0:3}}</div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-7 class="col col-7 description-column">
                <div class="title" *ngIf="shift.outlet">
                  {{shift.outlet.name}}
                </div>
                <div class="roster-info">
                  <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
                  <span *ngIf="shift.job">|</span>
                  <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
                </div>
                <div class="time">{{shift.shiftText.time12Hr}}</div>
              </ion-col>
              <ion-col col-3 *ngIf="shift.badgeClass !=''" class="col badge-column">
                <div class="badge right-badge" [ngClass]="shift.badgeClass">{{shift.badgeText}}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </tab>
    <tab [tabTitle]="'Drop Request'">
      <div *ngFor="let shift of availableShifts">
        <ion-grid (click)="onShiftClick(shift)" *ngIf="shift.tab === 2 && shift.outlet">
          <div class="card">
            <ion-row class="item row employee-shift-item">
              <ion-col col-2 class="date-column col col-2">
                <div class="dates">
                  <div class="month" *ngIf="screenWidth > 460">{{shift.monthText}}</div>
                  <div class="month" *ngIf="screenWidth <= 460">{{shift.monthText | slice: 0:3}}</div>
                  <div class="dayDate">
                    <div class="date" *ngIf="shift.dayNumber">{{shift.dayNumber}}</div>
                    <div class="day" *ngIf="screenWidth > 460">{{shift.dayText}}</div>
                    <div class="day" *ngIf="screenWidth <= 460">{{shift.dayText | slice: 0:3}}</div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-7 class="col col-7 description-column">
                <div class="title" *ngIf="shift.outlet">
                  {{shift.outlet.name}}
                </div>
                <div class="roster-info">
                  <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
                  <span *ngIf="shift.job">|</span>
                  <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
                </div>
              </ion-col>
              <ion-col col-3 *ngIf="shift.badgeClass !=''" class="col badge-column">
                <div class="badge right-badge" [ngClass]="shift.badgeClass">{{shift.badgeText}}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </tab>
  </tabs>
</ion-content>
