<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" class="main-navbar">
    <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <tabs>
    <tab [tabTitle]="'Pickup Request'">
      <div *ngFor="let shift of availableShifts">
        <div class="card" *ngIf="shift.tab === 1">
          <div class="item row employee-shift-item">
            <div class="date-column col col-3">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date">{{shift.dayNumber}}</div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </div>
            <div class="col col-6 description-column">
              <div class="title">
                {{shift.outlet.name}}
              </div>
              <div class="roster-info">
                <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
                <span *ngIf="shift.job">|</span>
                <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
              </div>
              <div class="time">{{shift.shiftText.time12Hr}}</div>
            </div>
            <div *ngIf="shift.badgeClass !=''" class="col col-3 badge-column">
              <div class="badge" ngClass="shift.badgeClass">{{shift.badgeText}}</div>
            </div>
          </div>
        </div>

      </div>
    </tab>
    <tab [tabTitle]="'Drop Request'">
      <div *ngFor="let shift of availableShifts">
        <ion-grid class="card" (click)="onShiftClick(shift)" *ngIf="shift.tab === 2">
          <ion-row class="item row employee-shift-item">
            <ion-col col-2 class="date-column col col-2">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date">{{shift.dayNumber}}</div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col col-7 class="col col-7 description-column">
              <div class="title">
                {{shift.outlet.name}}
              </div>
              <div class="roster-info">
                <span *ngIf="shift.section && shift.section.description">{{shift.section.description}}</span>
                <span *ngIf="shift.job">|</span>
                <span *ngIf="shift.job && shift.job.description">{{shift.job.description}}</span>
              </div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.badgeClass !=''" class="col badge-column">
              <div class="badge" [ngClass]="shift.badgeClass">{{shift.badgeText}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </tab>
  </tabs>
</ion-content>
