<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" swipeBackEnabled="true" class="main-navbar">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content no-bounce>

    <ion-list>
      <ion-item class="center-selected-text">
        <ion-label><i class="fa fa-calendar"></i></ion-label>
        <ion-select [(ngModel)]="viewType">
          <ion-option *ngFor="let view of viewTypes" [value]="view.code" [selected]="view.code === selectedView.code">{{view.description}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="center-selected-text" *ngIf="viewType === VIEW_WEEK">
        <ion-label><i class="fa fa-calendar"></i></ion-label>
        <ion-select (ionChange)="onWeekRosterChange()" [(ngModel)]="selectedRoster">
          <ion-option *ngFor="let roster of weekRosters" [value]="roster">{{roster.description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="viewType === VIEW_MONTH" class="calendar-wrapper">
        <!---->
        <ion-calendar #calendar [events]="currentEvents"  (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)" lang="en"></ion-calendar>
      </ion-item>
    </ion-list>


  <div *ngIf="viewType === VIEW_WEEK">
    <div *ngFor="let shift of shifts">
      <ion-grid (click)="onShiftClick(shift)" >
        <div class="card">
          <ion-row class="item row employee-shift-item">
            <ion-col col-2 class="date-column col col-2">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date">{{shift.dayNumber}}</div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col col-7 class="col col-7 description-column">
              <div class="title">
                {{shift.title}}
              </div>
              <div *ngIf="shift.section" class="roster-info">
                <span>{{shift.section.name}}</span>
                <span>{{shift.job.name}}</span>
              </div>
              <div class="time" *ngIf="shift.shiftText">{{shift.shiftText.time12Hr}}</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.eonConfirmed || shift.locked" class="col badge-column">
              <i class="fa fa-lock"></i>
            </ion-col>
            <ion-col col-3 *ngIf="shift.offsite" class="col badge-column">
              <div class="badge right-badge badge-blue">Off Site</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.drop" class="col badge-column">
              <div class="badge right-badge badge-orange">Drop pending</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.openShift" class="col badge-column">
              <div class="badge right-badge badge-orange">Request pending</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.cancelable" class="col badge-column">
              <div class="badge right-badge badge-red">Cancelable</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.hasWarning" class="col badge-column">
              <div class="badge right-badge badge-red">Overlap Warning</div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

    </div>
  </div>

  <div *ngIf="viewType === VIEW_MONTH">
    <div *ngFor="let shift of shifts">
      <ion-grid (click)="onShiftClick(shift)" *ngIf="shift.id || shift.title !== 'Day Off'">
        <div class="card">
          <ion-row class="item row employee-shift-item">
            <ion-col col-2 class="date-column col col-2">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date">{{shift.dayNumber}}</div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col col-7 class="col col-7 description-column">
              <div class="title">
                {{shift.title}}
              </div>
              <div *ngIf="shift.section" class="roster-info">
                <span>{{shift.section.name}}</span>
                <span>{{shift.job.name}}</span>
              </div>
              <div class="time" *ngIf="shift.shiftText">{{shift.shiftText.time12Hr}}</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.eonConfirmed || shift.locked" class="col badge-column">
              <i class="fa fa-lock"></i>
            </ion-col>
            <ion-col col-3 *ngIf="shift.offsite" class="col badge-column">
              <div class="badge right-badge badge-blue">Off Site</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.drop" class="col badge-column">
              <div class="badge right-badge badge-orange">Drop pending</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.openShift" class="col badge-column">
              <div class="badge right-badge badge-orange">Request pending</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.cancelable" class="col badge-column">
              <div class="badge right-badge badge-red">Cancelable</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.hasWarning" class="col badge-column">
              <div class="badge right-badge badge-red">Overlap Warning</div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

    </div>
  </div>


</ion-content>
