<ion-header class="main-header">
  <ion-navbar hideBackButton="true" color="primary" swipeBackEnabled="true" class="main-navbar">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-badge *ngIf="notificationsBadge" color="danger" class="notificationBadgeMenu">{{notificationsBadge}}</ion-badge>
    </button>

    <ion-title class="main-title">
      <img (click)="navCtrl.setRoot('HomePage')" src="./assets/imgs/Cover-logo-blue.png" alt="Cover">
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content no-bounce>

    <ion-list>
      <ion-item class="center-selected-text">
        <ion-label class="calendar-color"><i class="fa fa-calendar"></i></ion-label>
        <ion-select [(ngModel)]="viewType" [selectOptions]="{title: 'Choose Schedule'}" (ionChange)="onViewChange()">
          <ion-option *ngFor="let view of viewTypes" [value]="view.code" [selected]="view.code === selectedView.code">{{view.description}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="center-selected-text" *ngIf="viewType === VIEW_WEEK">
        <ion-label class="calendar-color"><i class="fa fa-calendar"></i></ion-label>
        <ion-select (ionChange)="onWeekRosterChange()" [selectOptions]="{title: 'Choose Roster'}" [(ngModel)]="selectedRoster">
          <ion-option *ngFor="let roster of weekRosters" [value]="roster">{{roster.description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="viewType === VIEW_MONTH" class="calendar-wrapper">
        <!---->
        <ion-calendar #calendar [events]="currentEvents"  (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)" lang="en"></ion-calendar>
      </ion-item>
    </ion-list>


  <div *ngIf="viewType === VIEW_WEEK">
    <div *ngFor="let shift of shifts">
      <ion-grid (click)="onShiftClick(shift)">
        <div class="card">
          <ion-row class="item row employee-shift-item">
            <ion-col col-2 class="date-column col col-2">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date" style="position: relative">
                    {{shift.dayNumber}}
                    <i *ngIf="shift.hasWarning" class="fa fa-exclamation-triangle warning-shift"></i>
                  </div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col col-7 class="col col-7 description-column">
              <div class="title">
                {{shift.title}}
              </div>
              <div *ngIf="shift.section" class="roster-info">
                <span>{{shift.section.name}}</span>
                <span>{{shift.job.name}}</span>
              </div>
              <div class="time" *ngIf="shift.shiftText">{{shift.shiftText.time12Hr}}</div>
            </ion-col>
            <ion-col col-3>
              <ion-row *ngIf="shift.eonConfirmed || shift.locked">
                <ion-col class="col badge-column"><i class="fa fa-lock"></i></ion-col>
              </ion-row>
              <ion-row *ngIf="shift.offsite">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-blue">Off Site</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="shift.drop">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-orange">Drop pending</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="shift.openShift">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-orange">Request pending</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="shift.cancelable">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-red">Cancelable</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="shift.hasWarning">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-red">Overlap Warning</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="shift.loan">
                <ion-col class="col badge-column">
                  <div class="badge right-badge badge-blue">Loan</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

    </div>
  </div>

  <div *ngIf="viewType === VIEW_MONTH">
    <div *ngFor="let shift of shifts">
      <ion-grid (click)="onShiftClick(shift)" *ngIf="shift.shiftDate === selectedDate || shift.date === selectedDate">
        <div class="card">
          <ion-row class="item row employee-shift-item">
            <ion-col col-2 class="date-column col col-2">
              <div class="dates">
                <div class="month">{{shift.monthText}}</div>
                <div class="dayDate">
                  <div class="date" style="position: relative">
                    {{shift.dayNumber}}
                    <i *ngIf="shift.hasWarning" class="fa fa-exclamation-triangle warning-shift"></i>
                  </div>
                  <div class="day">{{shift.dayText}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col col-7 class="col col-7 description-column">
              <div class="title">
                {{shift.title}}
              </div>
              <div *ngIf="shift.section" class="roster-info">
                <span>{{shift.section.name}}</span>
                <span>{{shift.job.name}}</span>
              </div>
              <div class="time" *ngIf="shift.shiftText">{{shift.shiftText.time12Hr}}</div>
            </ion-col>
            <ion-col col-3 *ngIf="shift.eonConfirmed || shift.locked" class="col badge-column">
              <i class="fa fa-lock"></i>
            </ion-col>
            <ion-col col-3  class="col badge-column">
              <div *ngIf="shift.offsite" class="badge right-badge badge-blue">Off Site</div>
              <div *ngIf="shift.drop" class="badge right-badge badge-orange">Drop pending</div>
              <div *ngIf="shift.openShift" class="badge right-badge badge-orange">Request pending</div>
              <div *ngIf="shift.cancelable" class="badge right-badge badge-red">Cancelable</div>
              <div *ngIf="shift.hasWarning" class="badge right-badge badge-red">Overlap Warning</div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

    </div>
  </div>


</ion-content>
